@model AuthApp.Models.RegisterViewModel


<div class="auth-container">
    <div class="auth-card">
        <h2>Регистрация</h2>

        <form method="post">
            <input type="email" name="Email" placeholder="Email" class="input" />

            <input type="password" name="Password" placeholder="Пароль" class="input" />

            <input type="password" name="ConfirmPassword" placeholder="Повторите пароль" class="input" />

            <button type="submit" class="btn">Регистрация</button>
            <a href="/Account/Login" class="btn cancel-btn">Отмена</a>
        </form>

        <a href="/Account/Login">Вход</a>
    </div>
</div>